// styles for home page
.home_header{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_tagline{
    font-family: 'Roboto_Bold';
    font-size: 28px;
    line-height: 36px;
    margin: 20px 0px;
}

.video_container{
    width: 100%;
    height: 450px;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45Deg, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(45Deg, #FFFFFF, #6DD5FA, #2980B9);
    display: flex;
    align-items: center;
    justify-content: center;

    // responsive
    @include responsive_mobile(){
        height: 300px;
    }
}