// styles for home page
.home_header{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_tagline{
    font-family: 'Roboto_Bold';
    font-size: 28px;
    line-height: 36px;
    margin: 20px 0px;
}