// here we will create our responsive mixins / funnctions 

// mobile
@mixin  responsive_mobile() {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

// tablet
@mixin  responsive_tab() {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

// variable
@mixin  responsive ($min,$max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}