// here we will create our major fonts styles



// roboto regular
.roboto_regular_base{
    font-family: 'Roboto_Regular';
    color: $pri_dark;
}


// roboto medium
.roboto_medium_base{
    font-family: 'Roboto_Medium';
    color: $pri_dark;
}



// robot bold
.roboto_bold_base{
    font-family: 'Roboto_Bold';
    color: $pri_dark;
}