body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}


@import './_responsive_mixins';
@import './_fonts';
@import './_colors';
@import './_typography';