body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}


@import './_responsive_mixins';
@import './_fonts';
@import './_colors';
@import './_typography';


// sections
@import './_navbar';
@import './_footer';

// pages
@import './_home';
@import './_about';


.mob_hidden{
    display: block;
    @include responsive_mobile(){
        display: none;
    }
}

.tab_hidden{
    display: block;
    @include responsive_tab(){
        display: none;
    }
}