<div class="container">
    <div class="row justify-content-between">
        <div class="col-12">
            <p class="robo_bold_16">Company</p>
        </div>
        <div class="col-lg-3 col-md-4">
            <p class="robo_reg_12 foot_para">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
            <div class="footer_form">
                <form class="foot_sub_form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Subscribe to newsletter">
                    </div>
                    <button type="submit" class="submit_btn"><i class="fas fa-caret-right"></i></button>
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 foot_links_wrap">
            <ul class="foot_links_list">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about-us.html">About Us</a>
                </li>
                <li>
                    <a href="#">Dummy</a>
                </li>
            </ul>

            <ul class="foot_links_list">
                <li>
                    <a href="#">Dummy</a>
                </li>
                <li>
                    <a href="#">Dummy</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <ul class="foot_social_list">
                <li>
                    <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                </li>
            </ul>
        </div>
    </div>
</div>